body{
  background: url('../img/bg.png') left top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #dbe3f1;
}
.answer-main{
  font-size: .24rem;
}
.answer-main .grade{
  line-height: 1rem;
  padding-left: .3rem;
  color: #1BB2F3;
}
.answer-main .grade em{
  padding-right: .3rem;
}
.answer-main .question-wrap{
  background: rgba(2,17,29,.5);
  margin: 0 .3rem ;
  padding: .3rem 0 .5rem 0;
}
.answer-main .question-no{
  position: relative;
  text-align: center;
  height: 2.92rem;
  margin-bottom: .2rem;
}
.answer-main .question-no .self{
  position: absolute;
  top: 0;
  height: .88rem;
  width: 2.48rem;
  line-height: .88rem;
  
}
.answer-main .question-no .self img{
  width:.74rem;
  height:.74rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin-top: -.37rem;
}

.answer-main .question-no .friend1{
  left: -.3rem;
  background: #D0235C;
  border-top-right-radius: .44rem;
  border-bottom-right-radius: .44rem;
 -webkit-animation:bounceInLeft .5s 0s ease both;
  animation:bounceInLeft .5s 0s ease both;
}
.answer-main .question-no .friend1 p{
  padding-left: .2rem;
  text-align: left;
}
.answer-main .question-no .friend1 img{
  right: .1rem;
}
.answer-main .question-no .friend2{
  right: -.3rem;
  background: #2672D0;
  border-top-left-radius: .44rem;
  border-bottom-left-radius: .44rem;
  -webkit-animation:bounceInRight .5s 0s ease both;
  animation:bounceInRight .5s 0s ease both;
}

.answer-main .question-no .friend2 p{
  padding-right: .2rem;
  text-align: right;
}
.answer-main .question-no .friend2 img{
  left: .1rem;
}
.answer-main .question-no .question-no-num{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  line-height: 4.4rem;
  color: #D0235C;
}
.answer-main .question-no .question-no-num.animate{
  -webkit-animation: bounceInDown1 1s .1s ease both;
  animation: bounceInDown1 1s .1s ease both;
}

.answer-main .question-no .time{
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -.46rem;
  width: .92rem;
  height: .92rem;
}
.answer-main .question-no .time .time-bg{
  width: .92rem;
  height: .92rem;
  position: absolute;
  left: .46rem;
}
.answer-main .question-no .time .time-bg1{
  width: .92rem;
  height: .92rem;
  position: absolute;
  left: .46rem;
}
.answer-main .question-no .time .time-item{
  width: 1px;
  height: .46rem;
}
.answer-main .question-no .time .time-item1{
  background: #21314f;
  position: absolute;
  left: 0;
  top: 0;
}
.answer-main .question-no .time .time-item2{
  background: #0D90C8;
  position: absolute;
  left: 0;
  top: 0;
}
.answer-main .question-no .time .num{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -.35rem;
  margin-top: -.35rem;
  width: .7rem;
  height: .7rem;
  background: #06141E;
  color: #DBE3F1;
  border-radius: 50%;
  text-align: center;
  line-height: .7rem;
  font-size: .14rem;
}

.answer-main .question .question-title{
  padding: .2rem .8rem .4rem;
}
.answer-main .question .question-title p{
  padding-bottom: .2rem;
}
.answer-main .question .question-title img{
  border-radius: .1rem;
  width: 4.94rem;
  height: 3.32rem;
}
.answer-main .question .question-select li{
  width: 4.9rem;
  height: .66rem;
  line-height: .66rem;
  text-align: center;
  border: 1px solid #2672D0;
  border-radius: .1rem;
  margin: 0 auto .2rem;
}
.answer-main .question .question-select{
  position: relative;
}
.answer-main .question .question-select li.right{
  border-color: #29A352;
  background: #29A352;
}
.answer-main .question .question-select li.right{
  border-color: #29A352;
  background: #29A352;
  -webkit-animation: scale .5s 0s ease both;
  animation: scale .5s 0s ease both;
}
.answer-main .question .question-select li.wrong{
  border-color: #D3366A;
  background: #D3366A;
}
.answer-main .question-select .progress{
  width: .22rem;
  height: 6.15rem;
  background: #253355;
  border-radius: .11rem;
  position: absolute;
  bottom: .1rem;
}
.answer-main .question-select .progress-left{
  left: .1rem;
}
.answer-main .question-select .progress-right{
  right: .1rem;
}
.answer-main .question-select .progress .inner{
  width: .22rem;
  height: 4rem;
  background: #2672D0;
  border-radius: .11rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.answer-main .question .bounceInUp1{
 -webkit-animation: bounceInUp 1s .5s ease both;
 animation: bounceInUp 1s .5s ease both;
}
.answer-main .question .question-select .bounceInUp2{
 -webkit-animation: bounceInUp 1s .7s ease both;
 animation: bounceInUp 1s .7s ease both;
}
.answer-main .question .question-select li.bounceInUp3{
 -webkit-animation: bounceInUp 1s .8s ease both;
 animation: bounceInUp 1s .8s ease both;
}
.answer-main .question .question-select li.bounceInUp4{
 -webkit-animation: bounceInUp 1s 1s ease both;
 animation: bounceInUp 1s 1s ease both;
}


@-webkit-keyframes bounceInDown{
  0%{opacity:0;-webkit-transform:translateY(-2000px)}
  60%{opacity:1;-webkit-transform:translateY(30px)}
  80%{-webkit-transform:translateY(-10px)}
  100%{-webkit-transform:translateY(0)}
}
@keyframes bounceInDown{
  0%{opacity:0;transform:translateY(-2000px)}
  60%{opacity:1;transform:translateY(30px)}
  80%{transform:translateY(-10px)}
  100%{transform:translateY(0)}
}

@-webkit-keyframes bounceInDown1{
  0%{opacity:0;-webkit-transform:translateY(-2000px)}
  100%{opacity:1;-webkit-transform:translateY(0)}
}
@keyframes bounceInDown1{
  0%{opacity:0;transform:translateY(-2000px)}
  100%{opacity:1;transform:translateY(0)}
}

@keyframes fadeIn{
  0%{opacity:0}
  100%{opacity:1}
}
@keyframes scale{
  0%{transform:scale(1)}
  50%{transform:scale(1.2)}
  100%{transform:scale(1)}
}





@-webkit-keyframes bounceInUp{
  0%{opacity:0;-webkit-transform:translateY(2000px)}
  100%{opacity:1;-webkit-transform:translateY(0)}
}
@keyframes bounceInUp{
  0%{opacity:0;transform:translateY(2000px)}
  100%{opacity:1;transform:translateY(0)}
}





@-webkit-keyframes bounceInLeft{
  0%{opacity:0;-webkit-transform:translateX(-2000px)}
  100%{opacity:1;-webkit-transform:translateX(0)}
}
@keyframes bounceInLeft{
  0%{opacity:0;transform:translateX(-2000px)}
  100%{opacity:1;transform:translateX(0)}
}

@-webkit-keyframes bounceInRight{
  0%{opacity:0;-webkit-transform:translateX(2000px)}
  100%{opacity:1;-webkit-transform:translateX(0)}
}
@keyframes bounceInRight{
  0%{opacity:0;transform:translateX(2000px)}
  100%{opacity:1;transform:translateX(0)}
}

