body{
  background: url('../img/bg.png') left top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #dbe3f1;
}
.self-main{

}
.self-main .self-title{
  padding-top: .2rem;
  line-height: .9rem;
  text-align: center;
  font-size: .3rem;
  position: relative;
  border-bottom: 1px solid #253355;
}
.self-main .self-title .error-book{
  position: absolute;
  right: .3rem;
  top: .2rem;
  width: .49rem;
  height: .63rem;
  background: url('../img/self_errorBook.png') left top no-repeat;
  -webkit-background-size: .49rem .63rem;
  background-size: .49rem .63rem;
}
.self-main .map{
  margin: 0 auto;
}

.self-main  .tip{
  width: 6.1rem;
  margin: 0 auto .48rem;
  border: 1px solid #194579;
  border-radius: .1rem;
  line-height: .42rem;
  font-size: .24rem;
  padding: .3rem .45rem;
  box-sizing: border-box;
}
.self-main  .code{
  border-top: 1px solid #253355;
  padding-top: .3rem;
}
.self-main  .code .code-bg{
  width: 6.14rem;
  height: 2.79rem;
  padding: .8rem 0 .45rem .52rem;
  background: url('../img/self_bg.png') left top no-repeat;
  -webkit-background-size: 6.14rem 2.79rem;
  background-size: 6.14rem 2.79rem;
  margin: 0 auto;
  box-sizing: border-box;
}
.self-main  .code .code-bg .code-img{
  float: left;
  margin-right: .3rem;
}
.self-main  .code .code-bg img{
  width: 1.54rem;
  height: 1.52rem;
}

.self-main  .code .code-bg .code-tip{
  float: left;
  font-size: .18rem;
  width: 3.6rem;
}