body {
  background: url('../img/bg.png') left top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #dbe3f1;
}

/* 树苗 */
.tree-main {
  font-size: .24rem;
  color: #1BB2F3;
}
/* 金币展示 =============================== */
.tree-main .showGold{
  margin: .38rem 0 .2rem 6rem;
  padding-left: .45rem;
  background: url('../img/gold.png') no-repeat;
  background-size: .38rem .39rem;
  font-size: .24rem;
  color: #dbe3f1;
  line-height: .39rem;
  font-weight: normal;
}


.tree-main .tree{
  width: 5.8rem;
  height: 4rem;
  padding-top: .33rem;
  background: url('../img/treebg.png') left top no-repeat;
  margin: .48rem auto 0;
  -webkit-background-size: 5.8rem 4.33rem;
  background-size: 5.8rem 4.33rem;
  position: relative;
}
.tree-main .trees img{
  display: block;
  width: 2.12rem;
  height: 3.19rem;
  margin: 0 auto;
}
.tree-main .tree .water{
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  width: 1.3rem;
  height: 1rem;
  background: url(../img/water.gif) no-repeat;
  -webkit-background-size: 1.3rem 1rem;
  background-size: 1.3rem 1rem;
  opacity: 0;
}
.tree-main .tree .water1{
  -webkit-animation: rotateIn 4s linear .3s ;
  animation: rotateIn 4s linear .3s ;
}

.tree-main .tree .muck{
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  width: 1.3rem;
  height: 1rem;
  background: url(../img/muck.gif) no-repeat;
  -webkit-background-size: 1.3rem 1rem;
  background-size: 1.3rem 1rem;
  opacity: 0;
}

.tree-main .tree .sun{
  position: absolute;
  right: .8rem;
  top: .2rem;
  width: 2.87rem;
  height: 3.17rem;
  background: url(../img/tree_sun2.png) no-repeat;
  -webkit-background-size: 2.87rem 3.17rem;
  background-size: 2.87rem 3.17rem;
  opacity: 0;
}
.tree-main .tree .sun1{
  -webkit-animation: scaleTo 3s linear .3s ;
  animation: scaleTo 3s linear .3s ;
}


.tree-main .tree .rotate{
  position: absolute;
}

.tree-main .tree .rotate1{
  width: 1.1rem;
  height: 1.1rem;
  left: -.4rem;
  top: -.15rem;
  background: url(../img/goldPark_rotate.png) no-repeat;
  -webkit-background-size: 1.1rem 1.1rem;
  background-size: 1.1rem 1.1rem;

  -webkit-animation: rotates 3s linear .3s infinite;
  animation: rotates 3s linear .3s infinite;
}
.tree-main .tree .rotate2{
  width: .5rem;
  height: .47rem;
  left: 5.34rem;
  top: 3.9rem;
  background: url(../img/goldPark_icon.png) no-repeat;
  -webkit-background-size: .5rem .47rem;
  background-size: .5rem .47rem;

  -webkit-animation: flipOutY 3s linear .3s infinite;
  animation: flipOutY 3s linear .3s infinite;
}
.tree-main .tree .rotate3{
  width: .88rem;
  height: .84rem;
  left: -.34rem;
  top: 3.7rem;
  background: url(../img/goldPark_icon1.png) no-repeat;
  -webkit-background-size: .88rem .84rem;
  background-size: .88rem .84rem;
  animation-duration: 2s;
  animation-delay: 2s;
  -webkit-animation: zoomIn 6s linear 1s infinite;
  animation: zoomIn 6s linear 1s infinite;
}

/* 养分基地 */
.tree-main .base{
  width: 5.76rem;
  padding: .16rem 0;
  margin: .3rem auto 0;
  border: 2px dashed #2672D0;
  box-sizing: border-box;
  color: #DBE3F1;
}
.tree-main .base .title{
  padding-bottom: .2rem;
}
.tree-main .basess{
  overflow: hidden;
}
.tree-main .base .baseItem {
  width: 33%;
  color: #1BB2F3;
  text-align: center;
  float: left;

}
.tree-main .base .baseItem img{
  display: block;
  width: 1.16rem;
  height: 1.16rem;
  padding-bottom: .1rem;
  margin: 0 auto;
}
/* 攻略  */
.tree-main .rules {
  width: 5.76rem;
  padding: .16rem .2rem;
  border: 2px dashed #2672D0;
  font-size: .18rem;
  color: #DBE3F1;
  margin: .3rem auto ;
  line-height: .36rem;
  box-sizing: border-box;
}

.tree-main .rules .title, 
.tree-main .base .title
{
  text-align: center;
  font-size: .3rem;
}

.tree-main .rules .title1 {
  padding-top: .1rem;
  font-size: .24rem;
  line-height: .42rem;
  color: #1BB2F3;
}


@-webkit-keyframes rotates
{
　　form {transform:rotate(0deg);}    
    to    {transform:rotate(360deg);}
}
@keyframes rotates
{
　　form {transform:rotate(0deg);}    
    to    {transform:rotate(360deg);}
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutY {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }

  30% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }

  to {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}


@-webkit-keyframes scaleTo {
  0% {-webkit-transform: scale(1);opacity: 0;-webkit-transform-origin: right top;}
  3% {opacity: 1;-webkit-transform-origin: right top;}
  50%{-webkit-transform: scale(1.3);-webkit-transform-origin: right top;}
  96%{opacity: 1;-webkit-transform-origin: right top;}
  100% {-webkit-transform: scale(1);opacity: 0;-webkit-transform-origin: right top;}
}
@keyframes scaleTo {
  0% {transform: scale(1);opacity: 0;transform-origin: right top;}
  3% {opacity: 1;transform-origin: right top;}
  50%{transform: scale(1.3);transform-origin: right top;}
  96%{opacity: 1;transform-origin: right top;}
  100% {transform: scale(1);opacity: 0;transform-origin: right top;}
}


@-webkit-keyframes rotateIn{
 0%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);opacity: 0;}
 20%{-webkit-transform-origin:center center;-webkit-transform:rotate(-30deg);}
 40%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);}
 60%{-webkit-transform-origin:center center;-webkit-transform:rotate(-30deg);}
 80%{-webkit-transform-origin:center center;-webkit-transform:rotate(0);}
 100%{-webkit-transform-origin:center center;-webkit-transform:rotate(-30deg);}
}
@keyframes rotateIn{
 0%{transform-origin:center center;transform:rotate(0);opacity: 0;}
 5%{opacity: 1;}
 20%{transform-origin:center center;transform:rotate(-30deg);}
 40%{transform-origin:center center;transform:rotate(0);}
 60%{transform-origin:center center;transform:rotate(-30deg);}
 80%{transform-origin:center center;transform:rotate(0);}
 90%{opacity: 1;}
 100%{transform-origin:center center;transform:rotate(-30deg);opacity: 0;}
}